<div class="entry-content">
 <div class="twitter-share">
  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.scconline.com%2Fblog%2Fpost%2F2023%2F09%2F21%2Fto-search-or-not-to-search-the-unceasing-confusion-surrounding-section-50-of-ndps-act%2F&amp;via=scconline_">
   Tweet
  </a>
 </div>
 <div style="text-align: justify; line-height: 150%;">
  <h4 style="background-image: linear-gradient(to left, #FFFFFF, rgb(121, 164, 210));">
   Part I
  </h4>
  <p style="margin-bottom: 3%;">
   The “Fruit of the Poisonous Tree” doctrine lays down the rule that evidence obtained in violation of the procedure established by law is inadmissible in court. While originating in the American legal system, this rule continues to be actively followed in American jurisprudence. However, common law jurisdictions such as the United Kingdom and India have generally been loath to adopt this doctrine. Under Indian law, the admissibility of evidence is determined based on its relevance.
   <a href="#fn1" id="fnref1" title="1. Pooran Mal v. Director of Inspection (Investigation), (1974) 1 SCC 345.">
    <sup>
     [1]
    </sup>
   </a>
   Nevertheless, certain limited areas of the Indian legal system incorporate the spirit of the “poisonous tree” doctrine. For instance, Sections
   <a href="https://www.scconline.com/DocumentLink.aspx?q=JTXT-0001516765" rel="noopener" target="_blank">
    24
   </a>
   <a href="#fn2" id="fnref2" title="2. Evidence Act, 1872, S. 24.">
    <sup>
     [2]
    </sup>
   </a>
   ,
   <a href="https://www.scconline.com/DocumentLink.aspx?q=JTXT-0001516766" rel="noopener" target="_blank">
    25
   </a>
   <a href="#fn3" id="fnref3" title="3. Evidence Act, 1872, S. 25.">
    <sup>
     [3]
    </sup>
   </a>
   and
   <a href="https://www.scconline.com/DocumentLink.aspx?q=JTXT-0001516767" rel="noopener" target="_blank">
    26
   </a>
   <a href="#fn4" id="fnref4" title="4. Evidence Act, 1872, S. 26.">
    <sup>
     [4]
    </sup>
   </a>
   of the
   <a href="https://www.scconline.com/DocumentLink.aspx?q=JTXT-0002726934" rel="noopener" target="_blank">
    Evidence Act, 1872
   </a>
   have been interpreted as embodying the spirit of the “poisonous tree” doctrine.
   <a href="#fn5" id="fnref5" title="5. Selvi v. State of Karnataka (2010) 7 SCC 263.">
    <sup>
     [5]
    </sup>
   </a>
   In
   <span style="font-style: italic;">
    Selvi
   </span>
   v.
   <span style="font-style: italic;">
    State of Karnataka
   </span>
   <a href="#fn6" id="fnref6" title="6. (2010) 7 SCC 263.">
    <sup>
     [6]
    </sup>
   </a>
   , the Supreme Court relied on the “poisonous tree” doctrine to declare narcoanalysis and polygraph tests as unconstitutional.
  </p>
  <p style="margin-bottom: 3%;">
   A derivative of this doctrine is enshrined in Section
   <a href="https://www.scconline.com/DocumentLink.aspx?q=JTXT-0001570335" rel="noopener" target="_blank">
    50
   </a>
   <a href="#fn7" id="fnref7" title="7. Narcotic Drugs and Psychotropic Substances Act, 1985, S. 50.">
    <sup>
     [7]
    </sup>
   </a>
   of the
   <a href="https://www.scconline.com/DocumentLink.aspx?q=JTXT-0002802179" rel="noopener" target="_blank">
    Narcotic Drugs and Psychotropic Substances Act, 1985
   </a>
   (NDPS Act). This provision has been included in the statute with a protective intent against malicious prosecution, especially keeping in view the stringent nature of the penal provisions under the NDPS Act. In absence of this safeguard, it would be difficult to determine whether the contraband was actually seized from the person of the accused or merely planted on his body to be used later on as evidence against him in a court of law.
  </p>
  <p style="">
   In
   <span style="font-style: italic;">
    State of Punjab
   </span>
   v.
   <span style="font-style: italic;">
    Baldev Singh
   </span>
   <a href="#fn8" id="fnref8" title="8. (1999) 6 SCC 172, 197-198.">
    <sup>
     [8]
    </sup>
   </a>
   , a Constitution Bench of the Supreme Court discussed the object behind this provision and held that:
  </p>
  <p style="margin-left: 36pt;">
   <span style="font-style: italic;">
    25.
   </span>
   …It appears to have been incorporated in the Act keeping in view the severity of the punishment. The search before a Gazetted Officer or a Magistrate would impart much more authenticity and creditworthiness to the search and seizure proceedings. It would also verily strengthen the prosecution case.
  </p>
  <p style="margin-bottom: 3%; margin-left: 36pt;">
   <span style="font-style: italic;">
    26.
   </span>
   Personal search, more particularly for offences under the NDPS Act, are critical means of obtaining evidence of possession and it is, therefore, necessary that the safeguards provided in Section 50 of the Act are observed scrupulously.
  </p>
  <p style="margin-bottom: 3%;">
   Similarly, in
   <span style="font-style: italic;">
    Vijaysinh Chandubha Jadeja
   </span>
   v.
   <span style="font-style: italic;">
    State of Gujarat
   </span>
   <a href="#fn9" id="fnref9" title="9. (2011) 1 SCC 609.">
    <sup>
     [9]
    </sup>
   </a>
   , another Constitution Bench held that “the object of Section 50(1) of the NDPS Act is to check the misuse of power, to avoid harm to innocent persons and to minimise the allegations of planting or foisting of false cases by the law enforcement agencies”.
  </p>
  <p style="margin-bottom: 3%;">
   Ever since the enactment of the NDPS Act, there appears to be a persistent confusion surrounding the interpretation of Section 50. The crux of the issue lies in the differing interpretations with respect to the procedure to be followed when search is to be conducted qua the body of a suspect. At present, the settled law appears to be that the authorised officer is duty-bound to inform the suspect of his right to be produced before a Gazetted Officer or Magistrate for the purposes of the search to be conducted on his body.
   <a href="#fn10" id="fnref10" title="10. Vijaysinh Chandubha Jadeja v. State of Gujarat, (2011) 1 SCC 609.">
    <sup>
     [10]
    </sup>
   </a>
   It is important to distinguish at this juncture the difference between informing the accused of the “option” available before him and informing him about the “right” available to him in terms of Section 50. Merely informing the accused about the option of having the search conducted before a Gazetted Officer or a Magistrate will fail to meet the compliance threshold as mandated under Section 50. Only when it is categorically conveyed to the suspect of his right to be searched before a Gazetted Officer or a Magistrate that compliance with Section 50 can be considered to be fulfilled.
   <a href="#fn11" id="fnref11" title="11. Ashok Kumar Sharma v. State of Rajasthan, (2013) 2 SCC 67.">
    <sup>
     [11]
    </sup>
   </a>
  </p>
  <p style="margin-bottom: 3%;">
   In this context, it is perplexing that a 2-Judge Bench of the Supreme Court in
   <span style="font-style: italic;">
    Arif Khan
   </span>
   v.
   <span style="font-style: italic;">
    State of Uttarakhand
   </span>
   <a href="#fn12" id="fnref12" title="12. (2018) 18 SCC 380.">
    <sup>
     [12]
    </sup>
   </a>
   has without adverting to any reasons and in contradiction of the settled law held that all searches to be made on the person of the suspect must be conducted in the presence of a Magistrate/Gazetted Officer. The ratio as laid down in
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn13" id="fnref13" title="13. (2018) 18 SCC 380.">
    <sup>
     [13]
    </sup>
   </a>
   has subsequently been relied upon by various High Courts to acquit/grant bail to offenders who were not searched before a Magistrate or a Gazetted Officer despite the fact that they had willingly waived-off their right. The judgment as delivered in
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn14" id="fnref14" title="14. (2018) 18 SCC 380.">
    <sup>
     [14]
    </sup>
   </a>
   is in the respectful view of this author per incuriam as it has been pronounced without providing due reasons and is in the teeth of the settled position of law as declared by the two Constitution Benches.
   <a href="#fn15" id="fnref15" title="15. State of Punjab v. Baldev Singh, (1999) 6 SCC 172; Vijaysinh Chandubha Jadeja v. State of Gujarat, (2011) 1 SCC 609.">
    <sup>
     [15]
    </sup>
   </a>
  </p>
  <h4 style="background-image: linear-gradient(to left, #FFFFFF, rgb(121, 164, 210));">
   Part II
  </h4>
  <p style="">
   Before undertaking a holistic study of the issues as referred to hereinbefore, it would be relevant to reproduce sub-section (1) of Section 50 of the NDPS Act.
  </p>
  <p style="margin-bottom: 3%; margin-left: 36pt;">
   <span style="font-style: italic;">
    50. Conditions under which search of persons shall be conducted
   </span>
   .— (1) When any officer duly authorised under Section 42
   <a href="#fn16" id="fnref16" title="16. Narcotic Drugs and Psychotropic Substances Act, 1985, S. 42.">
    <sup>
     [16]
    </sup>
   </a>
   is about to search any person under the provisions of Sections 41
   <a href="#fn17" id="fnref17" title="17. Narcotic Drugs and Psychotropic Substances Act, 1985, S. 41.">
    <sup>
     [17]
    </sup>
   </a>
   and 42 or Section 43
   <a href="#fn18" id="fnref18" title="18. Narcotic Drugs and Psychotropic Substances Act, 1985, S. 43.">
    <sup>
     [18]
    </sup>
   </a>
   , he shall,
   <span style="font-style: italic;">
    if such person so requires
   </span>
   , take such person without unnecessary delay to nearest Gazetted Officer of any of the departments mentioned in Section 42 or to the nearest Magistrate. (emphasis supplied)
  </p>
  <p style="margin-bottom: 3%;">
   Section 50 is a procedural provision that lays down the manner in which the search of a person suspected of carrying contraband substances is to be conducted. A bare reading of the provision makes it abundantly clear that the officer conducting the search shall apprise the suspect of his right to be searched in the presence of a Gazetted Officer or a Magistrate, and thereafter if such person so requires, produce him forthwith before a Gazetted Officer or a Magistrate.
  </p>
  <p style="">
   At this juncture, it would be convenient to summarise the controversy which has arisen post the judgment delivered in
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn19" id="fnref19" title="19. (2018) 18 SCC 380.">
    <sup>
     [19]
    </sup>
   </a>
   as to:
  </p>
  <p style="margin-bottom: 3%; margin-left: 36pt;">
   Whether an authorised officer conducting search on the body of a person is merely obligated to apprise him of his right to be searched before a Magistrate/Gazetted Officer and seek his view thereon or is he duty-bound to produce him before a Magistrate/Gazetted Officer, irrespective of the fact whether the suspect has waived such right or not?
  </p>
  <p style="margin-bottom: 3%;">
   The necessity for the present discussion arises from the miscarriage of justice which has occasioned post
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn20" id="fnref20" title="20. (2018) 18 SCC 380.">
    <sup>
     [20]
    </sup>
   </a>
   as offenders, who would otherwise have been convicted, are being acquitted based on the erroneous interpretation of the provision as contained in Section 50. The Delhi High Court in
   <span style="font-style: italic;">
    Sikodh Mahato
   </span>
   v.
   <span style="font-style: italic;">
    State
   </span>
   <a href="#fn21" id="fnref21" title="21. 2019 SCC OnLine Del 8897.">
    <sup>
     [21]
    </sup>
   </a>
   relied on
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn22" id="fnref22" title="22. (2018) 18 SCC 380.">
    <sup>
     [22]
    </sup>
   </a>
   to acquit the appellant as the search on his body was not conducted in the presence of a Magistrate or a Gazetted Officer despite the fact that the appellant had declined in writing the right available before him to be searched before a Magistrate/Gazetted Officer.
  </p>
  <p style="margin-bottom: 3%;">
   In
   <span style="font-style: italic;">
    Sumit Rai
   </span>
   v.
   <span style="font-style: italic;">
    State
   </span>
   <a href="#fn23" id="fnref23" title="23. 2019 SCC OnLine Del 9364.">
    <sup>
     [23]
    </sup>
   </a>
   , once again relying upon
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn24" id="fnref24" title="24. (2018) 18 SCC 380.">
    <sup>
     [24]
    </sup>
   </a>
   , the Delhi High Court acquitted the appellant who had himself waived-off his right to be searched in the presence of a Magistrate or a Gazetted Officer. Thereafter, in
   <span style="font-style: italic;">
    Vaibhav Gupta
   </span>
   v.
   <span style="font-style: italic;">
    State
   </span>
   <a href="#fn25" id="fnref25" title="25. 2017 SCC OnLine Del 8636.">
    <sup>
     [25]
    </sup>
   </a>
   , the Court relied on
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn26" id="fnref26" title="26. (2018) 18 SCC 380.">
    <sup>
     [26]
    </sup>
   </a>
   to hold that the investigating officer failed to comply with the mandatory requirements of Section 50 and hence, enlarged the accused on bail. Similarly, the Punjab and Haryana High Court in
   <span style="font-style: italic;">
    Akash Garg
   </span>
   v.
   <span style="font-style: italic;">
    State of Punjab
   </span>
   <a href="#fn27" id="fnref27" title="27. 2022 SCC OnLine P&amp;H 2039.">
    <sup>
     [27]
    </sup>
   </a>
   passed a judgment of acquittal by placing reliance on
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn28" id="fnref28" title="28. (2018) 18 SCC 380.">
    <sup>
     [28]
    </sup>
   </a>
   .
  </p>
  <p style="margin-bottom: 3%;">
   Per contra, in
   <span style="font-style: italic;">
    Innocent Uzoma
   </span>
   v.
   <span style="font-style: italic;">
    State
   </span>
   <a href="#fn29" id="fnref29" title="29. 2020 SCC OnLine Del 136.">
    <sup>
     [29]
    </sup>
   </a>
   , the Delhi High Court took a different approach and refused to accept the appellant’s contention that the procedural requirements under Section 50 of the Act, as interpreted in
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn30" id="fnref30" title="30. (2018) 18 SCC 380.">
    <sup>
     [30]
    </sup>
   </a>
   , had not been fulfilled even though the accused himself had declined the offer by the investigating officer to be searched before a Magistrate/Gazetted Officer. In
   <span style="font-style: italic;">
    Innocent Uzoma case
   </span>
   <a href="#fn31" id="fnref31" title="31. 2020 SCC OnLine Del 136.">
    <sup>
     [31]
    </sup>
   </a>
   , after undertaking an exhaustive study of the binding precedents, the Court rightly arrived at the conclusion that the ratio as laid down in
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn32" id="fnref32" title="32. (2018) 18 SCC 380.">
    <sup>
     [32]
    </sup>
   </a>
   was not a binding precedent. The view taken in
   <span style="font-style: italic;">
    Innocent Uzoma case
   </span>
   <a href="#fn33" id="fnref33" title="33. 2020 SCC OnLine Del 136.">
    <sup>
     [33]
    </sup>
   </a>
   was later upheld by a Division Bench of the High Court in
   <span style="font-style: italic;">
    Nabi Alam
   </span>
   v.
   <span style="font-style: italic;">
    State (NCT of Delhi)
   </span>
   <a href="#fn34" id="fnref34" title="34. 2021 SCC OnLine Del 3055.">
    <sup>
     [34]
    </sup>
   </a>
   .
  </p>
  <p style="margin-bottom: 3%;">
   To understand why the ratio of
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn35" id="fnref35" title="35. (2018) 18 SCC 380.">
    <sup>
     [35]
    </sup>
   </a>
   , as contained in para 24 of that judgment, is not in line with the object of the statute or the judicial interpretations, we must advert to the two Constitution Bench judgments concerning Section 50 of the NDPS Act.
  </p>
  <p style="">
   In
   <span style="font-style: italic;">
    State of Punjab
   </span>
   v.
   <span style="font-style: italic;">
    Baldev Singh
   </span>
   <a href="#fn36" id="fnref36" title="36. State of Punjab v. Baldev Singh, (1999) 6 SCC 172, 197 and 200-201.">
    <sup>
     [36]
    </sup>
   </a>
   , a Constitution Bench of the Supreme Court was constituted to address and harmonise the inconsistencies in the judgments as laid down by different Benches with regard to the ambit and scope of Section 50. The Bench categorically held that:
  </p>
  <p style="margin-left: 36pt;">
   <span style="font-style: italic;">
    24.
   </span>
   … it is an obligation of the empowered officer and his duty before conducting the search of the person of a suspect, to
   <span style="font-style: italic;">
    inform the suspect that he has the right to require his search being conducted in the presence of a Gazetted Officer or a Magistrate
   </span>
   . The
   <span style="font-style: italic;">
    failure to so inform the suspect of his right would render the search illegal
   </span>
   because the suspect would not be able to avail of the protection which is inbuilt in Section 50. Similarly,
   <span style="font-style: italic;">
    if the person concerned requires
   </span>
   , on being so informed by the empowered officer or otherwise, that his search be conducted in the presence of a Gazetted Officer or a Magistrate, the empowered officer is obliged to do so’.
  </p>
  <p style="text-align: center;">
   *     *     *
  </p>
  <p style="margin-bottom: 3%; margin-left: 36pt;">
   <span style="font-style: italic;">
    32.
   </span>
   … The protection provided in the section to an accused to be intimated that he has the right to have his personal search conducted before a Gazetted Officer or a Magistrate,
   <span style="font-style: italic;">
    if he so requires
   </span>
   , is sacrosanct and indefeasible — it cannot be disregarded by the prosecution except at its own peril. (emphasis supplied)
  </p>
  <p style="">
   Thereafter, owing to the persisting confusion concerning the procedure to be followed for searches made under Section 50, another Constitution Bench was constituted in
   <span style="font-style: italic;">
    Vijaysinh Chandubha Jadeja case
   </span>
   <a href="#fn37" id="fnref37" title="37. Vijaysinh Chandubha Jadeja v. State of Gujarat, (2011) 1 SCC 609.">
    <sup>
     [37]
    </sup>
   </a>
   wherein the Bench unanimously reiterated the position as laid down in
   <span style="font-style: italic;">
    Baldev Singh case
   </span>
   <a href="#fn38" id="fnref38" title="38. (1999) 6 SCC 172.">
    <sup>
     [38]
    </sup>
   </a>
   and held that:
  </p>
  <p style="margin-bottom: 3%; margin-left: 36pt;">
   The empowered officer is bound to
   <span style="font-style: italic;">
    apprise the person intended to be searched of his right under Section 50
   </span>
   of the NDPS Act to be searched before a Gazetted Officer or a Magistrate. (emphasis supplied)
  </p>
  <p style="">
   The Bench further held that:
  </p>
  <p style="margin-bottom: 3%; margin-left: 36pt;">
   …it is not necessary that the information required to be given should be in a prescribed form or in writing, but it is
   <span style="font-style: italic;">
    mandatory that the suspect is made aware of the existence of his right
   </span>
   to be searched before a Gazetted Officer or a Magistrate,
   <span style="font-style: italic;">
    if so, required by him
   </span>
   and this mandatory provision requires strict compliance.
   <span style="font-style: italic;">
    Thereafter, the suspect may or may not choose to exercise the right provided to him
   </span>
   under the said provision.
   <a href="#fn39" id="fnref39" title="39. Vijaysinh Chandubha Jadeja v. State of Gujarat, (2011) 1 SCC 609.">
    <sup>
     [39]
    </sup>
   </a>
   (emphasis supplied)
  </p>
  <p style="">
   The Court also observed that:
  </p>
  <p style="margin-bottom: 3%; margin-left: 36pt;">
   <span style="font-style: italic;">
    32.
   </span>
   … in order to impart authenticity, transparency, and creditworthiness to the entire proceedings, in the first instance, an endeavour should be made to produce the suspect before the nearest Magistrate, who enjoys more confidence of the common man compared to any other officer. It would not only add legitimacy to the search proceedings, it may verily strengthen the prosecution as well.
   <a href="#fn40" id="fnref40" title="40. Vijaysinh Chandubha Jadeja v. State of Gujarat, (2011) 1 SCC 609, 622.">
    <sup>
     [40]
    </sup>
   </a>
  </p>
  <p style="margin-bottom: 3%;">
   The law as laid down in
   <span style="font-style: italic;">
    Baldev Singh case
   </span>
   <a href="#fn41" id="fnref41" title="41. (1999) 6 SCC 172.">
    <sup>
     [41]
    </sup>
   </a>
   and
   <span style="font-style: italic;">
    Vijaysinh case
   </span>
   <a href="#fn42" id="fnref42" title="42. (2011) 1 SCC 609.">
    <sup>
     [42]
    </sup>
   </a>
   was thereafter followed in several judgments including in
   <span style="font-style: italic;">
    Myla Venkateswarlu
   </span>
   v.
   <span style="font-style: italic;">
    State of A.P.
   </span>
   <a href="#fn43" id="fnref43" title="43. (2012) 5 SCC 226.">
    <sup>
     [43]
    </sup>
   </a>
   ,
   <span style="font-style: italic;">
    Ashok Kumar Sharma
   </span>
   v.
   <span style="font-style: italic;">
    State of Rajasthan
   </span>
   <a href="#fn44" id="fnref44" title="44. (2013) 2 SCC 67.">
    <sup>
     [44]
    </sup>
   </a>
   ,
   <span style="font-style: italic;">
    State of Rajasthan
   </span>
   v.
   <span style="font-style: italic;">
    Parmanand
   </span>
   <a href="#fn45" id="fnref45" title="45. (2014) 5 SCC 345.">
    <sup>
     [45]
    </sup>
   </a>
   and
   <span style="font-style: italic;">
    Sekhar Suman Verma
   </span>
   v.
   <span style="font-style: italic;">
    Narcotics Control Bureau
   </span>
   <a href="#fn46" id="fnref46" title="46. (2016) 11 SCC 368.">
    <sup>
     [46]
    </sup>
   </a>
   until in
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn47" id="fnref47" title="47. (2018) 18 SCC 380.">
    <sup>
     [47]
    </sup>
   </a>
   wherein a 2-Judge Bench of the Supreme Court while dealing with an appeal from the High Court of Uttarakhand held in para 24.4 of the judgment that “it is, therefore, mandatory for the prosecution to prove that the search and recovery was made from the appellant in the presence of a Magistrate or a Gazetted Officer”. In other words,
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn48" id="fnref48" title="48. (2018) 18 SCC 380.">
    <sup>
     [48]
    </sup>
   </a>
   made it absolutely mandatory for the authorised officer to present the suspect before a Magistrate/Gazetted Officer before conducting search on his body, irrespective of the fact whether the suspect had waived-off the right available to him. The Court arrived at this incongruous conclusion even after referring to the ratio as laid down in
   <span style="font-style: italic;">
    Baldev Singh case
   </span>
   <a href="#fn49" id="fnref49" title="49. (1999) 6 SCC 172.">
    <sup>
     [49]
    </sup>
   </a>
   and
   <span style="font-style: italic;">
    Vijaysinh case
   </span>
   <a href="#fn50" id="fnref50" title="50. (2011) 1 SCC 609.">
    <sup>
     [50]
    </sup>
   </a>
   .
  </p>
  <p style="margin-bottom: 3%;">
   The judgment in
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn51" id="fnref51" title="51. (2018) 18 SCC 380.">
    <sup>
     [51]
    </sup>
   </a>
   has opened a pandora’s box as many High Courts have incorrectly relied on this judgment, and held that for strict compliance with Section 50, it is mandatory to produce the suspect before a Magistrate or a Gazetted Officer before conducting a personal search.
  </p>
  <h4 style="background-image: linear-gradient(to left, #FFFFFF, rgb(121, 164, 210));">
   Part III
  </h4>
  <p style="margin-bottom: 3%;">
   It is the author’s view that the judgment delivered in
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn52" id="fnref52" title="52. (2018) 18 SCC 380.">
    <sup>
     [52]
    </sup>
   </a>
   is per incuriam as it lays down an incorrect interpretation of the mandate as contained in Section 50, and it is apparent that the Bench has arrived at the conclusion without duly appreciating the interpretation as laid down in
   <span style="font-style: italic;">
    Baldev Singh case
   </span>
   <a href="#fn53" id="fnref53" title="53. (1999) 6 SCC 172.">
    <sup>
     [53]
    </sup>
   </a>
   and
   <span style="font-style: italic;">
    Vijaysinh case
   </span>
   <a href="#fn54" id="fnref54" title="54. (2011) 1 SCC 609.">
    <sup>
     [54]
    </sup>
   </a>
   . The doctrine of stare decisis et non quieta movere, which means “to stand by decisions and not to disturb what is settled” is incumbent upon all subsequent coordinate and smaller Benches. Yet, in
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn55" id="fnref55" title="55. (2018) 18 SCC 380.">
    <sup>
     [55]
    </sup>
   </a>
   , the Court without duly appreciating the binding precedents has proceeded to essentially rewrite the mandate as contained in Section 50.
  </p>
  <p style="">
   <span style="font-style: italic;">
    Halsbury’s Laws of England, 3rd Edn.
   </span>
   , Vol. 22, para 1687, pp. 799-800 describes per incuriam as:
  </p>
  <p style="margin-bottom: 3%; margin-left: 36pt;">
   The Court is not bound to follow a decision of its own if given per incuriam. A decision is given per incuriam when the Court has acted in ignorance of a previous decision of its own or of a court of a coordinate jurisdiction which covered the case before it, or when it has acted in ignorance of a decision of the House of Lords. In the former case it must decide which decision to follow, and in the latter, it is bound by the decision of the House of Lords.
  </p>
  <p style="">
   In
   <span style="font-style: italic;">
    State of U.P.
   </span>
   v.
   <span style="font-style: italic;">
    Synthetics and Chemicals Ltd.
   </span>
   <a href="#fn56" id="fnref56" title="56. (1991) 4 SCC 139, 162-163.">
    <sup>
     [56]
    </sup>
   </a>
   , the Supreme Court discussed the implication of a judgment which has been passed per incuria:
  </p>
  <p style="margin-bottom: 3%; margin-left: 36pt;">
   <span style="font-style: italic;">
    40.
   </span>
   “Incuria” literally means “carelessness”. In practice per incuriam appears to mean per ignorantiam. English courts have developed this principle
   <span style="font-style: italic;">
    in relaxation of the rule of stare decisis
   </span>
   . The “quotable in law” is avoided and ignored if it is rendered, “in ignorantiam of a statute or other binding authority”. (
   <span style="font-style: italic;">
    Young
   </span>
   v.
   <span style="font-style: italic;">
    Bristol Aeroplane Co. Ltd.
   </span>
   <a href="#fn57" id="fnref57" title="57. 1944 KB 718.">
    <sup>
     [57]
    </sup>
   </a>
   ) Same has been accepted, approved, and adopted by this Court while interpreting Article 141
   <a href="#fn58" id="fnref58" title="58. Constitution of India, Art. 141.">
    <sup>
     [58]
    </sup>
   </a>
   of the Constitution which embodies the doctrine of precedents as a matter of law. (emphasis supplied)
  </p>
  <p style="margin-bottom: 3%;">
   In para 4 of
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn59" id="fnref59" title="59. (2018) 18 SCC 380.">
    <sup>
     [59]
    </sup>
   </a>
   , the Court has recorded that the accused after being apprehended by the police officials, was duly apprised of his legal right to be searched in the presence of a Gazetted Officer/Magistrate to which the accused consented in writing to be searched by them. Thereafter, in para 22, after summarising the arguments as preferred by the parties respectively, it was held that “In our considered view, the evidence adduced by the prosecution neither suggested and nor proved that the search and the recovery was made from the appellant in the presence of either a Magistrate or a Gazetted Officer.” This is reiterated in para 24.2 and followed by the conclusion as contained in para 24.4 — “It is, therefore, mandatory for the prosecution to prove that the search and recovery was made from the appellant in the presence of a Magistrate or a Gazetted Officer.” It is curious to note that despite relying upon
   <span style="font-style: italic;">
    Baldev Singh case
   </span>
   <a href="#fn60" id="fnref60" title="60. (1999) 6 SCC 172.">
    <sup>
     [60]
    </sup>
   </a>
   and
   <span style="font-style: italic;">
    Vijaysinh case
   </span>
   <a href="#fn61" id="fnref61" title="61. (2011) 1 SCC 609.">
    <sup>
     [61]
    </sup>
   </a>
   , no reasons whatsoever have been adverted to, for arriving at the conclusion that all searches as made under Section 50 have to be mandatorily conducted before a Magistrate/Gazetted Officer irrespective of the fact whether the accused chooses to waive-off such right. The author is of the view that the judgment in
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn62" id="fnref62" title="62. (2018) 18 SCC 380.">
    <sup>
     [62]
    </sup>
   </a>
   has been rendered sub silentio as it is completely silent on the aspect of diverging from the settled law which merely requires informing the accused of his right to be searched before a Magistrate/Gazetted Officer.
  </p>
  <p style="margin-bottom: 3%;">
   It is well settled that the doctrines of per incuriam and sub silentio operate as exceptions to the doctrine of stare decisis, ergo a ruling which has been delivered in ignorance of binding precedents and further, without delving into any reasoning for arriving at a differing conclusion is not a binding precedent and cannot be said to be the law of the land as laid down under Article
   <a href="https://www.scconline.com/DocumentLink.aspx?q=JTXT-0001574872" rel="noopener" target="_blank">
    141
   </a>
   of the
   <a href="https://www.scconline.com/DocumentLink.aspx?q=JTXT-0002726967" rel="noopener" target="_blank">
    Constitution
   </a>
   .
   <a href="#fn63" id="fnref63" title="63. MCD v. Gurnam Kaur, (1989) 1 SCC 101.">
    <sup>
     [63]
    </sup>
   </a>
   A decision or judgment whose ratio cannot be reconciled with that of a previously pronounced judgment of a coequal or larger Bench is held to be per incuriam.
   <a href="#fn64" id="fnref64" title="64. Sundeep Kumar Bafna v. State of Maharashtra, (2014) 16 SCC 623.">
    <sup>
     [64]
    </sup>
   </a>
   It is apparent from the foregoing discussion that the judgment delivered by a 2-Judge Bench of the Supreme Court in
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn65" id="fnref65" title="65. (2018) 18 SCC 380.">
    <sup>
     [65]
    </sup>
   </a>
   is without due appreciation of the binding precedents and without due respect to the doctrine of stare decisis and hence is per incuriam. It is quite baffling that on review, Their Lordships failed to appreciate the error apparent in
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn66" id="fnref66" title="66. (2018) 18 SCC 380.">
    <sup>
     [66]
    </sup>
   </a>
   and upheld the judgment in its entirety.
   <a href="#fn67" id="fnref67" title="67. State of Uttarakhand v. Arif Khan, Review Petition (Criminal) No. 270 of 2019, order dated 24-7-2019 (SC).">
    <sup>
     [67]
    </sup>
   </a>
  </p>
  <h4 style="background-image: linear-gradient(to left, #FFFFFF, rgb(121, 164, 210));">
   Conclusion
  </h4>
  <p style="margin-bottom: 3%;">
   Lord Coke described the doctrine of stare decisis as “those things which have been so often adjudged ought to rest in peace”. However, the judgment in
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn68" id="fnref68" title="68. (2018) 18 SCC 380.">
    <sup>
     [68]
    </sup>
   </a>
   goes against this well-established principle of law by effectively rewriting the statute as enacted by the legislature and interpreted by various larger Benches of the Supreme Court. Moreover, the reliance being placed upon
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn69" id="fnref69" title="69. (2018) 18 SCC 380.">
    <sup>
     [69]
    </sup>
   </a>
   by various High Courts not only creates a conflict in law but also hinders the pursuit of justice, defeating the very objects for which the NDPS Act was enacted.
  </p>
  <p style="margin-bottom: 3%;">
   While there is no gainsaying that the High Courts and subordinate judiciary are not bound to follow the law as laid down in
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn70" id="fnref70" title="70. (2018) 18 SCC 380.">
    <sup>
     [70]
    </sup>
   </a>
   considering its inconsistency with authoritative pronouncements of earlier larger and Coordinate Benches,
   <a href="#fn71" id="fnref71" title="71. Sundeep Kumar Bafna v. State of Maharashtra, (2014) 16 SCC 623; when a High Court encounters two or more mutually irreconcilable decisions of the Supreme Court, the inviolable recourse is to apply the earliest view as the succeeding ones would fall in the category of per incuriam.">
    <sup>
     [71]
    </sup>
   </a>
   nevertheless, in the humble view of the author, it is imperative to put the controversial ruling of
   <span style="font-style: italic;">
    Arif Khan case
   </span>
   <a href="#fn72" id="fnref72" title="72. (2018) 18 SCC 380.">
    <sup>
     [72]
    </sup>
   </a>
   to rest once and for all. A categorical declaration by a larger Bench of the Supreme Court clarifying the parameters for compliance with Section 50 will go a long way in effective adjudication qua violations of the NDPS Act. Additionally, it will also reinforce the importance of consistency and uniformity in judicial pronouncements.
  </p>
 </div>
 <hr/>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <strong>
   <span style="color: #000080;">
    † Associate — Litigation, Luthra and Luthra Law Offices India. Author can be reached at
    <a href="mailto:othakur@luthra.com" rel="noopener" target="_blank">
     othakur@luthra.com
    </a>
    . The views expressed in this article are solely those of the author and do not purport to reflect the opinions or views of the law firm or its members.
   </span>
  </strong>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref1" id="fn1">
   1.
  </a>
  <a href="http://www.scconline.com/DocumentLink/x0sjmbYA" rel="noopener" target="_blank">
   <span style="font-style: italic;">
    Pooran Mal
   </span>
   v.
   <span style="font-style: italic;">
    Director of Inspection (Investigation)
   </span>
   , (1974) 1 SCC 345.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref2" id="fn2">
   2.
  </a>
  <a href="http://www.scconline.com/DocumentLink/0993NK73" rel="noopener" target="_blank">
   Evidence Act, 1872, S. 24.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref3" id="fn3">
   3.
  </a>
  <a href="http://www.scconline.com/DocumentLink/lr0UFoX8" rel="noopener" target="_blank">
   Evidence Act, 1872, S. 25.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref4" id="fn4">
   4.
  </a>
  <a href="http://www.scconline.com/DocumentLink/0sS5i3ms" rel="noopener" target="_blank">
   Evidence Act, 1872, S. 26.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref5" id="fn5">
   5.
  </a>
  <a href="http://www.scconline.com/DocumentLink/GOIb9dz6" rel="noopener" target="_blank">
   <span style="font-style: italic;">
    Selvi
   </span>
   v.
   <span style="font-style: italic;">
    State of Karnataka
   </span>
   (2010) 7 SCC 263.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref6" id="fn6">
   6.
  </a>
  <a href="http://www.scconline.com/DocumentLink/GOIb9dz6" rel="noopener" target="_blank">
   (2010) 7 SCC 263.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref7" id="fn7">
   7.
  </a>
  <a href="http://www.scconline.com/DocumentLink/rMFC7htv" rel="noopener" target="_blank">
   Narcotic Drugs and Psychotropic Substances Act, 1985, S. 50.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref8" id="fn8">
   8.
  </a>
  <a href="http://www.scconline.com/DocumentLink/134ZbTCj" rel="noopener" target="_blank">
   (1999) 6 SCC 172, 197-198.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref9" id="fn9">
   9.
  </a>
  <a href="http://www.scconline.com/DocumentLink/sTJe2lD9" rel="noopener" target="_blank">
   (2011) 1 SCC 609.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref10" id="fn10">
   10.
  </a>
  <a href="http://www.scconline.com/DocumentLink/sTJe2lD9" rel="noopener" target="_blank">
   <span style="font-style: italic;">
    Vijaysinh Chandubha Jadeja
   </span>
   v.
   <span style="font-style: italic;">
    State of Gujarat
   </span>
   , (2011) 1 SCC 609.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref11" id="fn11">
   11.
  </a>
  <a href="http://www.scconline.com/DocumentLink/EQZve9T3" rel="noopener" target="_blank">
   <span style="font-style: italic;">
    Ashok Kumar Sharma
   </span>
   v.
   <span style="font-style: italic;">
    State of Rajasthan
   </span>
   , (2013) 2 SCC 67.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref12" id="fn12">
   12.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref13" id="fn13">
   13.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref14" id="fn14">
   14.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref15" id="fn15">
   15.
  </a>
  <a href="http://www.scconline.com/DocumentLink/134ZbTCj" rel="noopener" target="_blank">
   <span style="font-style: italic;">
    State of Punjab
   </span>
   v.
   <span style="font-style: italic;">
    Baldev Singh
   </span>
   , (1999) 6 SCC 172
  </a>
  ;
  <a href="http://www.scconline.com/DocumentLink/sTJe2lD9" rel="noopener" target="_blank">
   <span style="font-style: italic;">
    Vijaysinh Chandubha Jadeja
   </span>
   v.
   <span style="font-style: italic;">
    State of Gujarat
   </span>
   , (2011) 1 SCC 609.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref16" id="fn16">
   16.
  </a>
  <a href="http://www.scconline.com/DocumentLink/93l1bvaf" rel="noopener" target="_blank">
   Narcotic Drugs and Psychotropic Substances Act, 1985, S. 42.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref17" id="fn17">
   17.
  </a>
  <a href="http://www.scconline.com/DocumentLink/xIsbB826" rel="noopener" target="_blank">
   Narcotic Drugs and Psychotropic Substances Act, 1985, S. 41.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref18" id="fn18">
   18.
  </a>
  <a href="http://www.scconline.com/DocumentLink/A0mnYWQm" rel="noopener" target="_blank">
   Narcotic Drugs and Psychotropic Substances Act, 1985, S. 43.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref19" id="fn19">
   19.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref20" id="fn20">
   20.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref21" id="fn21">
   21.
  </a>
  <a href="http://www.scconline.com/DocumentLink/iTS737H6" rel="noopener" target="_blank">
   2019 SCC OnLine Del 8897.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref22" id="fn22">
   22.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref23" id="fn23">
   23.
  </a>
  <a href="http://www.scconline.com/DocumentLink/p9I1ZtLz" rel="noopener" target="_blank">
   2019 SCC OnLine Del 9364.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref24" id="fn24">
   24.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref25" id="fn25">
   25.
  </a>
  <a href="http://www.scconline.com/DocumentLink/m7e7vvQJ" rel="noopener" target="_blank">
   2017 SCC OnLine Del 8636.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref26" id="fn26">
   26.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref27" id="fn27">
   27.
  </a>
  <a href="http://www.scconline.com/DocumentLink/933wkqUB" rel="noopener" target="_blank">
   2022 SCC OnLine P&amp;H 2039.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref28" id="fn28">
   28.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref29" id="fn29">
   29.
  </a>
  <a href="http://www.scconline.com/DocumentLink/852AjgiA" rel="noopener" target="_blank">
   2020 SCC OnLine Del 136.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref30" id="fn30">
   30.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref31" id="fn31">
   31.
  </a>
  <a href="http://www.scconline.com/DocumentLink/852AjgiA" rel="noopener" target="_blank">
   2020 SCC OnLine Del 136.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref32" id="fn32">
   32.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref33" id="fn33">
   33.
  </a>
  <a href="http://www.scconline.com/DocumentLink/852AjgiA" rel="noopener" target="_blank">
   2020 SCC OnLine Del 136.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref34" id="fn34">
   34.
  </a>
  <a href="http://www.scconline.com/DocumentLink/S3AZO8fn" rel="noopener" target="_blank">
   2021 SCC OnLine Del 3055.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref35" id="fn35">
   35.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref36" id="fn36">
   36.
  </a>
  <a href="http://www.scconline.com/DocumentLink/134ZbTCj" rel="noopener" target="_blank">
   <span style="font-style: italic;">
    State of Punjab
   </span>
   v.
   <span style="font-style: italic;">
    Baldev Singh
   </span>
   , (1999) 6 SCC 172, 197 and 200-201.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref37" id="fn37">
   37.
  </a>
  <a href="http://www.scconline.com/DocumentLink/sTJe2lD9" rel="noopener" target="_blank">
   <span style="font-style: italic;">
    Vijaysinh Chandubha Jadeja
   </span>
   v.
   <span style="font-style: italic;">
    State of Gujarat
   </span>
   , (2011) 1 SCC 609.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref38" id="fn38">
   38.
  </a>
  <a href="http://www.scconline.com/DocumentLink/134ZbTCj" rel="noopener" target="_blank">
   (1999) 6 SCC 172.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref39" id="fn39">
   39.
  </a>
  <a href="http://www.scconline.com/DocumentLink/sTJe2lD9" rel="noopener" target="_blank">
   <span style="font-style: italic;">
    Vijaysinh Chandubha Jadeja
   </span>
   v.
   <span style="font-style: italic;">
    State of Gujarat
   </span>
   , (2011) 1 SCC 609.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref40" id="fn40">
   40.
  </a>
  <a href="http://www.scconline.com/DocumentLink/sTJe2lD9" rel="noopener" target="_blank">
   <span style="font-style: italic;">
    Vijaysinh Chandubha Jadeja
   </span>
   v.
   <span style="font-style: italic;">
    State of Gujarat
   </span>
   , (2011) 1 SCC 609, 622.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref41" id="fn41">
   41.
  </a>
  <a href="http://www.scconline.com/DocumentLink/134ZbTCj" rel="noopener" target="_blank">
   (1999) 6 SCC 172.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref42" id="fn42">
   42.
  </a>
  <a href="http://www.scconline.com/DocumentLink/sTJe2lD9" rel="noopener" target="_blank">
   (2011) 1 SCC 609.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref43" id="fn43">
   43.
  </a>
  <a href="http://www.scconline.com/DocumentLink/8bQd5RtP" rel="noopener" target="_blank">
   (2012) 5 SCC 226.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref44" id="fn44">
   44.
  </a>
  <a href="http://www.scconline.com/DocumentLink/EQZve9T3" rel="noopener" target="_blank">
   (2013) 2 SCC 67.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref45" id="fn45">
   45.
  </a>
  <a href="http://www.scconline.com/DocumentLink/VYGe9q2R" rel="noopener" target="_blank">
   (2014) 5 SCC 345.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref46" id="fn46">
   46.
  </a>
  <a href="http://www.scconline.com/DocumentLink/8Fsi9McK" rel="noopener" target="_blank">
   (2016) 11 SCC 368.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref47" id="fn47">
   47.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref48" id="fn48">
   48.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref49" id="fn49">
   49.
  </a>
  <a href="http://www.scconline.com/DocumentLink/134ZbTCj" rel="noopener" target="_blank">
   (1999) 6 SCC 172.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref50" id="fn50">
   50.
  </a>
  <a href="http://www.scconline.com/DocumentLink/sTJe2lD9" rel="noopener" target="_blank">
   (2011) 1 SCC 609.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref51" id="fn51">
   51.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref52" id="fn52">
   52.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref53" id="fn53">
   53.
  </a>
  <a href="http://www.scconline.com/DocumentLink/134ZbTCj" rel="noopener" target="_blank">
   (1999) 6 SCC 172.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref54" id="fn54">
   54.
  </a>
  <a href="http://www.scconline.com/DocumentLink/sTJe2lD9" rel="noopener" target="_blank">
   (2011) 1 SCC 609.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref55" id="fn55">
   55.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref56" id="fn56">
   56.
  </a>
  <a href="http://www.scconline.com/DocumentLink/sXfJzjXG" rel="noopener" target="_blank">
   (1991) 4 SCC 139, 162-163.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref57" id="fn57">
   57.
  </a>
  <a href="http://www.scconline.com/DocumentLink/xM4XAjr1" rel="noopener" target="_blank">
   1944 KB 718.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref58" id="fn58">
   58.
  </a>
  <a href="http://www.scconline.com/DocumentLink/42L90IU1" rel="noopener" target="_blank">
   Constitution of India, Art. 141.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref59" id="fn59">
   59.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref60" id="fn60">
   60.
  </a>
  <a href="http://www.scconline.com/DocumentLink/134ZbTCj" rel="noopener" target="_blank">
   (1999) 6 SCC 172.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref61" id="fn61">
   61.
  </a>
  <a href="http://www.scconline.com/DocumentLink/sTJe2lD9" rel="noopener" target="_blank">
   (2011) 1 SCC 609.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref62" id="fn62">
   62.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref63" id="fn63">
   63.
  </a>
  <a href="http://www.scconline.com/DocumentLink/r4d9RjG6" rel="noopener" target="_blank">
   <span style="font-style: italic;">
    MCD
   </span>
   v.
   <span style="font-style: italic;">
    Gurnam Kaur
   </span>
   , (1989) 1 SCC 101.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref64" id="fn64">
   64.
  </a>
  <a href="http://www.scconline.com/DocumentLink/r4d9RjG6" rel="noopener" target="_blank">
   <span style="font-style: italic;">
    Sundeep Kumar Bafna
   </span>
   v.
   <span style="font-style: italic;">
    State of Maharashtra
   </span>
   , (2014) 16 SCC 623.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref65" id="fn65">
   65.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref66" id="fn66">
   66.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref67" id="fn67">
   67.
  </a>
  <span style="font-style: italic;">
   State of Uttarakhand
  </span>
  v.
  <span style="font-style: italic;">
   Arif Khan
  </span>
  , Review Petition (Criminal) No. 270 of 2019, order dated 24-7-2019 (SC).
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref68" id="fn68">
   68.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref69" id="fn69">
   69.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref70" id="fn70">
   70.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref71" id="fn71">
   71.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   <span style="font-style: italic;">
    Sundeep Kumar Bafna
   </span>
   v.
   <span style="font-style: italic;">
    State of Maharashtra
   </span>
   , (2014) 16 SCC 623
  </a>
  ; when a High Court encounters two or more mutually irreconcilable decisions of the Supreme Court, the inviolable recourse is to apply the earliest view as the succeeding ones would fall in the category of per incuriam.
 </p>
 <p style="margin-left: 18pt; text-indent: -18pt;">
  <a href="#fnref72" id="fn72">
   72.
  </a>
  <a href="http://www.scconline.com/DocumentLink/y0z9653A" rel="noopener" target="_blank">
   (2018) 18 SCC 380.
  </a>
 </p>
 <div class="sharedaddy sd-sharing-enabled">
  <div class="robots-nocontent sd-block sd-social sd-social-icon sd-sharing">
   <div class="sd-content">
    <ul>
     <li class="share-facebook">
      <a class="share-facebook sd-button share-icon no-text" data-shared="sharing-facebook-301998" href="https://www.scconline.com/blog/post/2023/09/21/to-search-or-not-to-search-the-unceasing-confusion-surrounding-section-50-of-ndps-act/?share=facebook" rel="nofollow noopener noreferrer" target="_blank" title="Click to share on Facebook">
       <span>
       </span>
       <span class="sharing-screen-reader-text">
        Click to share on Facebook (Opens in new window)
       </span>
      </a>
     </li>
     <li class="share-twitter">
      <a class="share-twitter sd-button share-icon no-text" data-shared="sharing-twitter-301998" href="https://www.scconline.com/blog/post/2023/09/21/to-search-or-not-to-search-the-unceasing-confusion-surrounding-section-50-of-ndps-act/?share=twitter" rel="nofollow noopener noreferrer" target="_blank" title="Click to share on Twitter">
       <span>
       </span>
       <span class="sharing-screen-reader-text">
        Click to share on Twitter (Opens in new window)
       </span>
      </a>
     </li>
     <li class="share-linkedin">
      <a class="share-linkedin sd-button share-icon no-text" data-shared="sharing-linkedin-301998" href="https://www.scconline.com/blog/post/2023/09/21/to-search-or-not-to-search-the-unceasing-confusion-surrounding-section-50-of-ndps-act/?share=linkedin" rel="nofollow noopener noreferrer" target="_blank" title="Click to share on LinkedIn">
       <span>
       </span>
       <span class="sharing-screen-reader-text">
        Click to share on LinkedIn (Opens in new window)
       </span>
      </a>
     </li>
     <li class="share-jetpack-whatsapp">
      <a class="share-jetpack-whatsapp sd-button share-icon no-text" data-shared="" href="https://www.scconline.com/blog/post/2023/09/21/to-search-or-not-to-search-the-unceasing-confusion-surrounding-section-50-of-ndps-act/?share=jetpack-whatsapp" rel="nofollow noopener noreferrer" target="_blank" title="Click to share on WhatsApp">
       <span>
       </span>
       <span class="sharing-screen-reader-text">
        Click to share on WhatsApp (Opens in new window)
       </span>
      </a>
     </li>
     <li>
      <a class="sharing-anchor sd-button share-more" href="#">
       <span>
        More
       </span>
      </a>
     </li>
     <li class="share-end">
     </li>
    </ul>
    <div class="sharing-hidden">
     <div class="inner" style="display: none;">
      <ul>
       <li class="share-print">
        <a class="share-print sd-button share-icon no-text" data-shared="" href="https://www.scconline.com/blog/post/2023/09/21/to-search-or-not-to-search-the-unceasing-confusion-surrounding-section-50-of-ndps-act/#print" rel="nofollow noopener noreferrer" target="_blank" title="Click to print">
         <span>
         </span>
         <span class="sharing-screen-reader-text">
          Click to print (Opens in new window)
         </span>
        </a>
       </li>
       <li class="share-email">
        <a class="share-email sd-button share-icon no-text" data-email-share-error-text="If you're having problems sharing via email, you might not have email set up for your browser. You may need to create a new email yourself." data-email-share-error-title="Do you have email set up?" data-email-share-nonce="58de0feb49" data-email-share-track-url="https://www.scconline.com/blog/post/2023/09/21/to-search-or-not-to-search-the-unceasing-confusion-surrounding-section-50-of-ndps-act/?share=email" data-shared="" href="mailto:?subject=%5BShared%20Post%5D%20To%20Search%20or%20Not%20to%20Search%3A%20The%20Unceasing%20Confusion%20Surrounding%20Section%2050%20of%20NDPS%20Act&amp;body=https%3A%2F%2Fwww.scconline.com%2Fblog%2Fpost%2F2023%2F09%2F21%2Fto-search-or-not-to-search-the-unceasing-confusion-surrounding-section-50-of-ndps-act%2F&amp;share=email" rel="nofollow noopener noreferrer" target="_blank" title="Click to email a link to a friend">
         <span>
         </span>
         <span class="sharing-screen-reader-text">
          Click to email a link to a friend (Opens in new window)
         </span>
        </a>
       </li>
       <li class="share-telegram">
        <a class="share-telegram sd-button share-icon no-text" data-shared="" href="https://www.scconline.com/blog/post/2023/09/21/to-search-or-not-to-search-the-unceasing-confusion-surrounding-section-50-of-ndps-act/?share=telegram" rel="nofollow noopener noreferrer" target="_blank" title="Click to share on Telegram">
         <span>
         </span>
         <span class="sharing-screen-reader-text">
          Click to share on Telegram (Opens in new window)
         </span>
        </a>
       </li>
       <li class="share-reddit">
        <a class="share-reddit sd-button share-icon no-text" data-shared="" href="https://www.scconline.com/blog/post/2023/09/21/to-search-or-not-to-search-the-unceasing-confusion-surrounding-section-50-of-ndps-act/?share=reddit" rel="nofollow noopener noreferrer" target="_blank" title="Click to share on Reddit">
         <span>
         </span>
         <span class="sharing-screen-reader-text">
          Click to share on Reddit (Opens in new window)
         </span>
        </a>
       </li>
       <li class="share-tumblr">
        <a class="share-tumblr sd-button share-icon no-text" data-shared="" href="https://www.scconline.com/blog/post/2023/09/21/to-search-or-not-to-search-the-unceasing-confusion-surrounding-section-50-of-ndps-act/?share=tumblr" rel="nofollow noopener noreferrer" target="_blank" title="Click to share on Tumblr">
         <span>
         </span>
         <span class="sharing-screen-reader-text">
          Click to share on Tumblr (Opens in new window)
         </span>
        </a>
       </li>
       <li class="share-pinterest">
        <a class="share-pinterest sd-button share-icon no-text" data-shared="sharing-pinterest-301998" href="https://www.scconline.com/blog/post/2023/09/21/to-search-or-not-to-search-the-unceasing-confusion-surrounding-section-50-of-ndps-act/?share=pinterest" rel="nofollow noopener noreferrer" target="_blank" title="Click to share on Pinterest">
         <span>
         </span>
         <span class="sharing-screen-reader-text">
          Click to share on Pinterest (Opens in new window)
         </span>
        </a>
       </li>
       <li class="share-pocket">
        <a class="share-pocket sd-button share-icon no-text" data-shared="" href="https://www.scconline.com/blog/post/2023/09/21/to-search-or-not-to-search-the-unceasing-confusion-surrounding-section-50-of-ndps-act/?share=pocket" rel="nofollow noopener noreferrer" target="_blank" title="Click to share on Pocket">
         <span>
         </span>
         <span class="sharing-screen-reader-text">
          Click to share on Pocket (Opens in new window)
         </span>
        </a>
       </li>
       <li class="share-skype">
        <a class="share-skype sd-button share-icon no-text" data-shared="sharing-skype-301998" href="https://www.scconline.com/blog/post/2023/09/21/to-search-or-not-to-search-the-unceasing-confusion-surrounding-section-50-of-ndps-act/?share=skype" rel="nofollow noopener noreferrer" target="_blank" title="Click to share on Skype">
         <span>
         </span>
         <span class="sharing-screen-reader-text">
          Click to share on Skype (Opens in new window)
         </span>
        </a>
       </li>
       <li class="share-end">
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="jp-relatedposts" id="jp-relatedposts">
  <h3 class="jp-relatedposts-headline">
   <em>
    Related
   </em>
  </h3>
 </div>
</div>

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]


Part I
The “Fruit of the Poisonous Tree” doctrine lays down the rule that evidence obtained in violation of the procedure established by law is inadmissible in court. While originating in the American legal system, this rule continues to be actively followed in American jurisprudence. However, common law jurisdictions such as the United Kingdom and India have generally been loath to adopt this doctrine. Under Indian law, the admissibility of evidence is determined based on its relevance.[1] Nevertheless, certain limited areas of the Indian legal system incorporate the spirit of the “poisonous tree” doctrine. For instance, Sections 24[2], 25[3] and 26[4] of the Evidence Act, 1872 have been interpreted as embodying the spirit of the “poisonous tree” doctrine.[5] In Selvi v. State of Karnataka[6], the Supreme Court relied on the “poisonous tree” doctrine to declare narcoanalysis and polygraph tests as unconstitutional.
A derivative of this doctrine is enshrined in Section 50[7] of the Narcotic Drugs and Psychotropic Substances Act, 1985 (NDPS Act). This provision has been included in the statute with a protective intent against malicious prosecution, especially keeping in view the stringent nature of the penal provisions under the NDPS Act. In absence of this safeguard, it would be difficult to determine whether the contraband was actually seized from the person of the accused or merely planted on his body to be used later on as evidence against him in a court of law.
In State of Punjab v. Baldev Singh[8], a Constitution Bench of the Supreme Court discussed the object behind this provision and held that:
25. …It appears to have been incorporated in the Act keeping in view the severity of the punishment. The search before a Gazetted Officer or a Magistrate would impart much more authenticity and creditworthiness to the search and seizure proceedings. It would also verily strengthen the prosecution case.
26. Personal search, more particularly for offences under the NDPS Act, are critical means of obtaining evidence of possession and it is, therefore, necessary that the safeguards provided in Section 50 of the Act are observed scrupulously.
Similarly, in Vijaysinh Chandubha Jadeja v. State of Gujarat[9], another Constitution Bench held that “the object of Section 50(1) of the NDPS Act is to check the misuse of power, to avoid harm to innocent persons and to minimise the allegations of planting or foisting of false cases by the law enforcement agencies”.
Ever since the enactment of the NDPS Act, there appears to be a persistent confusion surrounding the interpretation of Section 50. The crux of the issue lies in the differing interpretations with respect to the procedure to be followed when search is to be conducted qua the body of a suspect. At present, the settled law appears to be that the authorised officer is duty-bound to inform the suspect of his right to be produced before a Gazetted Officer or Magistrate for the purposes of the search to be conducted on his body.[10] It is important to distinguish at this juncture the difference between informing the accused of the “option” available before him and informing him about the “right” available to him in terms of Section 50. Merely informing the accused about the option of having the search conducted before a Gazetted Officer or a Magistrate will fail to meet the compliance threshold as mandated under Section 50. Only when it is categorically conveyed to the suspect of his right to be searched before a Gazetted Officer or a Magistrate that compliance with Section 50 can be considered to be fulfilled.[11]
In this context, it is perplexing that a 2-Judge Bench of the Supreme Court in Arif Khan v. State of Uttarakhand[12] has without adverting to any reasons and in contradiction of the settled law held that all searches to be made on the person of the suspect must be conducted in the presence of a Magistrate/Gazetted Officer. The ratio as laid down in Arif Khan case[13] has subsequently been relied upon by various High Courts to acquit/grant bail to offenders who were not searched before a Magistrate or a Gazetted Officer despite the fact that they had willingly waived-off their right. The judgment as delivered in Arif Khan case[14] is in the respectful view of this author per incuriam as it has been pronounced without providing due reasons and is in the teeth of the settled position of law as declared by the two Constitution Benches.[15]
Part II
Before undertaking a holistic study of the issues as referred to hereinbefore, it would be relevant to reproduce sub-section (1) of Section 50 of the NDPS Act.
50. Conditions under which search of persons shall be conducted.— (1) When any officer duly authorised under Section 42[16] is about to search any person under the provisions of Sections 41[17] and 42 or Section 43[18], he shall, if such person so requires, take such person without unnecessary delay to nearest Gazetted Officer of any of the departments mentioned in Section 42 or to the nearest Magistrate. (emphasis supplied)
Section 50 is a procedural provision that lays down the manner in which the search of a person suspected of carrying contraband substances is to be conducted. A bare reading of the provision makes it abundantly clear that the officer conducting the search shall apprise the suspect of his right to be searched in the presence of a Gazetted Officer or a Magistrate, and thereafter if such person so requires, produce him forthwith before a Gazetted Officer or a Magistrate.
At this juncture, it would be convenient to summarise the controversy which has arisen post the judgment delivered in Arif Khan case[19] as to:
Whether an authorised officer conducting search on the body of a person is merely obligated to apprise him of his right to be searched before a Magistrate/Gazetted Officer and seek his view thereon or is he duty-bound to produce him before a Magistrate/Gazetted Officer, irrespective of the fact whether the suspect has waived such right or not?
The necessity for the present discussion arises from the miscarriage of justice which has occasioned post Arif Khan case[20] as offenders, who would otherwise have been convicted, are being acquitted based on the erroneous interpretation of the provision as contained in Section 50. The Delhi High Court in Sikodh Mahato v. State[21] relied on Arif Khan case[22] to acquit the appellant as the search on his body was not conducted in the presence of a Magistrate or a Gazetted Officer despite the fact that the appellant had declined in writing the right available before him to be searched before a Magistrate/Gazetted Officer.
In Sumit Rai v. State[23], once again relying upon Arif Khan case[24], the Delhi High Court acquitted the appellant who had himself waived-off his right to be searched in the presence of a Magistrate or a Gazetted Officer. Thereafter, in Vaibhav Gupta v. State[25], the Court relied on Arif Khan case[26] to hold that the investigating officer failed to comply with the mandatory requirements of Section 50 and hence, enlarged the accused on bail. Similarly, the Punjab and Haryana High Court in Akash Garg v. State of Punjab[27] passed a judgment of acquittal by placing reliance on Arif Khan case[28].
Per contra, in Innocent Uzoma v. State[29], the Delhi High Court took a different approach and refused to accept the appellant’s contention that the procedural requirements under Section 50 of the Act, as interpreted in Arif Khan case[30], had not been fulfilled even though the accused himself had declined the offer by the investigating officer to be searched before a Magistrate/Gazetted Officer. In Innocent Uzoma case[31], after undertaking an exhaustive study of the binding precedents, the Court rightly arrived at the conclusion that the ratio as laid down in Arif Khan case[32] was not a binding precedent. The view taken in Innocent Uzoma case[33] was later upheld by a Division Bench of the High Court in Nabi Alam v. State (NCT of Delhi)[34].
To understand why the ratio of Arif Khan case[35], as contained in para 24 of that judgment, is not in line with the object of the statute or the judicial interpretations, we must advert to the two Constitution Bench judgments concerning Section 50 of the NDPS Act.
In State of Punjab v. Baldev Singh[36], a Constitution Bench of the Supreme Court was constituted to address and harmonise the inconsistencies in the judgments as laid down by different Benches with regard to the ambit and scope of Section 50. The Bench categorically held that:
24. … it is an obligation of the empowered officer and his duty before conducting the search of the person of a suspect, to inform the suspect that he has the right to require his search being conducted in the presence of a Gazetted Officer or a Magistrate. The failure to so inform the suspect of his right would render the search illegal because the suspect would not be able to avail of the protection which is inbuilt in Section 50. Similarly, if the person concerned requires, on being so informed by the empowered officer or otherwise, that his search be conducted in the presence of a Gazetted Officer or a Magistrate, the empowered officer is obliged to do so’.
*     *     *
32. … The protection provided in the section to an accused to be intimated that he has the right to have his personal search conducted before a Gazetted Officer or a Magistrate, if he so requires, is sacrosanct and indefeasible — it cannot be disregarded by the prosecution except at its own peril. (emphasis supplied)
Thereafter, owing to the persisting confusion concerning the procedure to be followed for searches made under Section 50, another Constitution Bench was constituted in Vijaysinh Chandubha Jadeja case[37] wherein the Bench unanimously reiterated the position as laid down in Baldev Singh case[38] and held that:
The empowered officer is bound to apprise the person intended to be searched of his right under Section 50 of the NDPS Act to be searched before a Gazetted Officer or a Magistrate. (emphasis supplied)
The Bench further held that:
…it is not necessary that the information required to be given should be in a prescribed form or in writing, but it is mandatory that the suspect is made aware of the existence of his right to be searched before a Gazetted Officer or a Magistrate, if so, required by him and this mandatory provision requires strict compliance. Thereafter, the suspect may or may not choose to exercise the right provided to him under the said provision.[39] (emphasis supplied)
 The Court also observed that:
32. … in order to impart authenticity, transparency, and creditworthiness to the entire proceedings, in the first instance, an endeavour should be made to produce the suspect before the nearest Magistrate, who enjoys more confidence of the common man compared to any other officer. It would not only add legitimacy to the search proceedings, it may verily strengthen the prosecution as well.[40]
The law as laid down in Baldev Singh case[41] and Vijaysinh case[42] was thereafter followed in several judgments including in Myla Venkateswarlu v. State of A.P.[43], Ashok Kumar Sharma v. State of Rajasthan[44], State of Rajasthan v. Parmanand[45] and Sekhar Suman Verma v. Narcotics Control Bureau[46] until in Arif Khan case[47] wherein a 2-Judge Bench of the Supreme Court while dealing with an appeal from the High Court of Uttarakhand held in para 24.4 of the judgment that “it is, therefore, mandatory for the prosecution to prove that the search and recovery was made from the appellant in the presence of a Magistrate or a Gazetted Officer”. In other words, Arif Khan case[48] made it absolutely mandatory for the authorised officer to present the suspect before a Magistrate/Gazetted Officer before conducting search on his body, irrespective of the fact whether the suspect had waived-off the right available to him. The Court arrived at this incongruous conclusion even after referring to the ratio as laid down in Baldev Singh case[49] and Vijaysinh case[50].
The judgment in Arif Khan case[51] has opened a pandora’s box as many High Courts have incorrectly relied on this judgment, and held that for strict compliance with Section 50, it is mandatory to produce the suspect before a Magistrate or a Gazetted Officer before conducting a personal search.
Part III
It is the author’s view that the judgment delivered in Arif Khan case[52] is per incuriam as it lays down an incorrect interpretation of the mandate as contained in Section 50, and it is apparent that the Bench has arrived at the conclusion without duly appreciating the interpretation as laid down in Baldev Singh case[53] and Vijaysinh case[54]. The doctrine of stare decisis et non quieta movere, which means “to stand by decisions and not to disturb what is settled” is incumbent upon all subsequent coordinate and smaller Benches. Yet, in Arif Khan case[55], the Court without duly appreciating the binding precedents has proceeded to essentially rewrite the mandate as contained in Section 50.
Halsbury’s Laws of England, 3rd Edn., Vol. 22, para 1687, pp. 799-800 describes per incuriam as:
The Court is not bound to follow a decision of its own if given per incuriam. A decision is given per incuriam when the Court has acted in ignorance of a previous decision of its own or of a court of a coordinate jurisdiction which covered the case before it, or when it has acted in ignorance of a decision of the House of Lords. In the former case it must decide which decision to follow, and in the latter, it is bound by the decision of the House of Lords.
In State of U.P. v. Synthetics and Chemicals Ltd.[56], the Supreme Court discussed the implication of a judgment which has been passed per incuria:
40. “Incuria” literally means “carelessness”. In practice per incuriam appears to mean per ignorantiam. English courts have developed this principle in relaxation of the rule of stare decisis. The “quotable in law” is avoided and ignored if it is rendered, “in ignorantiam of a statute or other binding authority”. (Young v. Bristol Aeroplane Co. Ltd.[57]) Same has been accepted, approved, and adopted by this Court while interpreting Article 141[58] of the Constitution which embodies the doctrine of precedents as a matter of law. (emphasis supplied)
In para 4 of Arif Khan case[59], the Court has recorded that the accused after being apprehended by the police officials, was duly apprised of his legal right to be searched in the presence of a Gazetted Officer/Magistrate to which the accused consented in writing to be searched by them. Thereafter, in para 22, after summarising the arguments as preferred by the parties respectively, it was held that “In our considered view, the evidence adduced by the prosecution neither suggested and nor proved that the search and the recovery was made from the appellant in the presence of either a Magistrate or a Gazetted Officer.” This is reiterated in para 24.2 and followed by the conclusion as contained in para 24.4 — “It is, therefore, mandatory for the prosecution to prove that the search and recovery was made from the appellant in the presence of a Magistrate or a Gazetted Officer.” It is curious to note that despite relying upon Baldev Singh case[60] and Vijaysinh case[61], no reasons whatsoever have been adverted to, for arriving at the conclusion that all searches as made under Section 50 have to be mandatorily conducted before a Magistrate/Gazetted Officer irrespective of the fact whether the accused chooses to waive-off such right. The author is of the view that the judgment in Arif Khan case[62] has been rendered sub silentio as it is completely silent on the aspect of diverging from the settled law which merely requires informing the accused of his right to be searched before a Magistrate/Gazetted Officer.
It is well settled that the doctrines of per incuriam and sub silentio operate as exceptions to the doctrine of stare decisis, ergo a ruling which has been delivered in ignorance of binding precedents and further, without delving into any reasoning for arriving at a differing conclusion is not a binding precedent and cannot be said to be the law of the land as laid down under Article 141 of the Constitution.[63] A decision or judgment whose ratio cannot be reconciled with that of a previously pronounced judgment of a coequal or larger Bench is held to be per incuriam.[64] It is apparent from the foregoing discussion that the judgment delivered by a 2-Judge Bench of the Supreme Court in Arif Khan case[65] is without due appreciation of the binding precedents and without due respect to the doctrine of stare decisis and hence is per incuriam. It is quite baffling that on review, Their Lordships failed to appreciate the error apparent in Arif Khan case[66] and upheld the judgment in its entirety.[67]
Conclusion
Lord Coke described the doctrine of stare decisis as “those things which have been so often adjudged ought to rest in peace”. However, the judgment in Arif Khan case[68] goes against this well-established principle of law by effectively rewriting the statute as enacted by the legislature and interpreted by various larger Benches of the Supreme Court. Moreover, the reliance being placed upon Arif Khan case[69] by various High Courts not only creates a conflict in law but also hinders the pursuit of justice, defeating the very objects for which the NDPS Act was enacted.
While there is no gainsaying that the High Courts and subordinate judiciary are not bound to follow the law as laid down in Arif Khan case[70] considering its inconsistency with authoritative pronouncements of earlier larger and Coordinate Benches,[71] nevertheless, in the humble view of the author, it is imperative to put the controversial ruling of Arif Khan case[72] to rest once and for all. A categorical declaration by a larger Bench of the Supreme Court clarifying the parameters for compliance with Section 50 will go a long way in effective adjudication qua violations of the NDPS Act. Additionally, it will also reinforce the importance of consistency and uniformity in judicial pronouncements.


† Associate — Litigation, Luthra and Luthra Law Offices India. Author can be reached at othakur@luthra.com. The views expressed in this article are solely those of the author and do not purport to reflect the opinions or views of the law firm or its members.
1. Pooran Mal v. Director of Inspection (Investigation), (1974) 1 SCC 345.
2. Evidence Act, 1872, S. 24.
3. Evidence Act, 1872, S. 25.
4. Evidence Act, 1872, S. 26.
5. Selvi v. State of Karnataka (2010) 7 SCC 263.
6. (2010) 7 SCC 263.
7. Narcotic Drugs and Psychotropic Substances Act, 1985, S. 50.
8. (1999) 6 SCC 172, 197-198.
9. (2011) 1 SCC 609.
10. Vijaysinh Chandubha Jadeja v. State of Gujarat, (2011) 1 SCC 609.
11. Ashok Kumar Sharma v. State of Rajasthan, (2013) 2 SCC 67.
12. (2018) 18 SCC 380.
13. (2018) 18 SCC 380.
14. (2018) 18 SCC 380.
15. State of Punjab v. Baldev Singh, (1999) 6 SCC 172; Vijaysinh Chandubha Jadeja v. State of Gujarat, (2011) 1 SCC 609.
16. Narcotic Drugs and Psychotropic Substances Act, 1985, S. 42.
17. Narcotic Drugs and Psychotropic Substances Act, 1985, S. 41.
18. Narcotic Drugs and Psychotropic Substances Act, 1985, S. 43.
19. (2018) 18 SCC 380.
20. (2018) 18 SCC 380.
21. 2019 SCC OnLine Del 8897.
22. (2018) 18 SCC 380.
23. 2019 SCC OnLine Del 9364.
24. (2018) 18 SCC 380.
25. 2017 SCC OnLine Del 8636.
26. (2018) 18 SCC 380.
27. 2022 SCC OnLine P&H 2039.
28. (2018) 18 SCC 380.
29. 2020 SCC OnLine Del 136.
30. (2018) 18 SCC 380.
31. 2020 SCC OnLine Del 136.
32. (2018) 18 SCC 380.
33. 2020 SCC OnLine Del 136.
34. 2021 SCC OnLine Del 3055.
35. (2018) 18 SCC 380.
36. State of Punjab v. Baldev Singh, (1999) 6 SCC 172, 197 and 200-201.
37. Vijaysinh Chandubha Jadeja v. State of Gujarat, (2011) 1 SCC 609.
38. (1999) 6 SCC 172.
39. Vijaysinh Chandubha Jadeja v. State of Gujarat, (2011) 1 SCC 609.
40. Vijaysinh Chandubha Jadeja v. State of Gujarat, (2011) 1 SCC 609, 622.
41. (1999) 6 SCC 172.
42. (2011) 1 SCC 609.
43. (2012) 5 SCC 226.
44. (2013) 2 SCC 67.
45. (2014) 5 SCC 345.
46. (2016) 11 SCC 368.
47. (2018) 18 SCC 380.
48. (2018) 18 SCC 380.
49. (1999) 6 SCC 172.
50. (2011) 1 SCC 609.
51. (2018) 18 SCC 380.
52. (2018) 18 SCC 380.
53. (1999) 6 SCC 172.
54. (2011) 1 SCC 609.
55. (2018) 18 SCC 380.
56. (1991) 4 SCC 139, 162-163.
57. 1944 KB 718.
58. Constitution of India, Art. 141.
59. (2018) 18 SCC 380.
60. (1999) 6 SCC 172.
61. (2011) 1 SCC 609.
62. (2018) 18 SCC 380.
63. MCD v. Gurnam Kaur, (1989) 1 SCC 101.
64. Sundeep Kumar Bafna v. State of Maharashtra, (2014) 16 SCC 623.
65. (2018) 18 SCC 380.
66. (2018) 18 SCC 380.
67. State of Uttarakhand v. Arif Khan, Review Petition (Criminal) No. 270 of 2019, order dated 24-7-2019 (SC).
68. (2018) 18 SCC 380.
69. (2018) 18 SCC 380.
70. (2018) 18 SCC 380.
71. Sundeep Kumar Bafna v. State of Maharashtra, (2014) 16 SCC 623; when a High Court encounters two or more mutually irreconcilable decisions of the Supreme Court, the inviolable recourse is to apply the earliest view as the succeeding ones would fall in the category of per incuriam.
72. (2018) 18 SCC 380.
